* {
    box-sizing: border-box;
}
  
body {
    margin: 0;
    font-family: 'Poppins';
}
  
a {
    text-decoration: none;
}
  
.clear {
    clear: left;
}
  
.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

header {
    width: 100%;
    position :fixed;
    z-index: 10;
    height: 90px;
    left: 0px;
    top: 0px;
    background: linear-gradient(180deg, rgba(187, 173, 255, 1) 64.71%, rgba(255, 255, 255, 1) 100%);
    border: 4px solid #E5CCFD;
    box-sizing: border-box;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 15px 15px;
}
  
.header-left img {
    width: 130px;
    height: 50px;
    margin-top: 15px;
}
  
.header-left {
    float: left;
}

.header-center {
    float: left;
    margin: 0 50px;
}

.header-center a {
    width: 110px;
    height: 30px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    margin: 0 10px;
    color: #FFFFFF;
    line-height: 80px;
    display: block;
    float: left;
    opacity: 0.8;
}

.header-center a:hover {
    opacity: 1;
}
  
.header-right {
    float: right;
}
  
.header-right a {
    line-height: 65px;
    padding: 0 10px;
    color: white;
    display: block;
    transition: all 0.5s;
}

.profile {
    width: 180px;
    height: 70px;
    background: #BFB7FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    display: inline-block;
    margin: 5px 7px 0 0;
    border: 2px solid #E5CCFD;
    box-sizing: border-box;
}

.profile-left {
    float: left;
}

.profile-left img {
    width: 50px;
    height: 50px;
    margin: 8px 0 0 10px;
}

.profile-right img {
    width: 20px;
    height: 20px;
    float: left;
    margin-left: 10px;
}

.profile-right p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 10px;
    text-align: center;
    color: #E5CCFD;
}

.logout-btn p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 22px;
    text-align: center;
    color: #F76969;
    opacity: 0.8;
}

.logout-btn p:hover {
    opacity: 1;
}

.main {
    width: 100%;
    background: #8187DC;
    mix-blend-mode: normal; 
    position: relative;
}

.empty {
    width: 100%;
    background: #8187DC;
    mix-blend-mode: normal; 
    position: relative;
    height: 75px;
}

.aboutus-main {
    background: #8187DC;
    height: 600px;
    width: 100%;
    position: relative;
}

.aboutus-header {
    float: left;
    width: 100%;
}

.aboutus-heading h2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 10px;
    color: #5ABDE9;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.aboutus-border {
    background: linear-gradient(180deg, #5ABDE9 0%, rgba(215, 130, 184, 0.6) 100%);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    width: 175px;
    height: 10px;
    margin-left: 480px;
    margin-bottom: 30px;
}

.aboutus-text-heading {
    background: linear-gradient(360deg, #5ABDE9 0%, rgba(215, 130, 184, 0.8) 150.52%);
    box-shadow: 0px 4px 15px #575AA3;
    border-radius: 15px 15px 0px 0px;
    width: 697px;
    height: 50px;
    position: absolute;
}

.aboutus-item {
    float: left;
    width: 100%
}

.aboutus-panel {
    background: rgba(72, 77, 222, 0.8);
    box-shadow: 0px 4px 15px #575AA3;
    border: 2.5px solid #715CBF;
    border-radius: 15px;
    text-align: center;
    width: 700px;
    height: 350px;
    margin-left: 210px;
    margin-bottom: 30px;
}

.aboutus-text p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
    width: 600px;
    color: rgba(224, 146, 177, 0.8);
    margin-top: 70px;
    margin-left: 40px;
}

.contactus-btn {
    background: linear-gradient(360deg, #5ABDE9 0%, rgba(215, 130, 184, 0.8) 150.52%);
    box-shadow: 5px 7px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    width: 140px;
    height: 40px;
    position: absolute;
    text-align: center;
    margin-top: 20px;
    margin-left: 500px;
}

.contactus-btn p {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 10px;
    text-align: center;
    color: rgba(255, 255, 255, 0.71);
}

.contactus-btn:hover {
    background: linear-gradient(360deg, #49c4f8 0%, rgba(235, 130, 196, 0.8) 150.52%);
}

footer {
    background: #757BC8;
    height: 120px;
    width: 100%;
    position: absolute;
}

.footer-logo img {
    margin-left: 470px;
    margin-top: 25px;
    width: 200px;
    height: 80px;
}
